@tailwind base;
@tailwind components;
@tailwind utilities;

.icon svg {
  width: 1em;
  height: 1em;
}

.icon svg:not([fill]) {
  fill: currentColor
}

body {
  background: rgb(42, 15, 105);
  color: #fff
}

.data-grid-with-row-pointer .MuiDataGrid-row {
  cursor: pointer;
}