@tailwind base;
@tailwind components;
@tailwind utilities;

.icon svg {
  width: 1em;
  height: 1em;
}

.icon svg:not([fill]) {
  fill: currentColor
}

body {
  background: rgb(42, 15, 105);
  color: #fff
}

.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus {
  outline: none !important
}
.data-grid-with-row-pointer .MuiDataGrid-row {
  cursor: pointer;
}
.Mui-focused:after {
  display: none !important
}
.MuiPopover-root .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-height: 400px;
  margin: 0;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

[data-testid=flowbite-navbar-collapse]>ul>div {
  margin-right: 0 !important;
}

.react-joyride__tooltip {
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
  color: white !important;
}
.react-joyride__tooltip .__floater__arrow {
  background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
}
.react-joyride__tooltip > div:first-child > div {
  padding: 10px 10px !important;
  padding-bottom: 0 !important;
}
.react-joyride__tooltip button {
  outline: none !important;
}

@media screen and (max-width: 768px) {
  .MuiDialog-container .MuiPaper-root.MuiPaper-elevation {
    margin: 16px !important;
  }
  .MuiDialog-container {
    align-items: start !important;
    margin-top: 30%;
  }
}