@tailwind base;
@tailwind components;
@tailwind utilities;

.icon svg {
  width: 1em;
  height: 1em;
}

.icon svg:not([fill]) {
  fill: currentColor
}

body {
  background: rgb(42, 15, 105);
  color: #fff
}

.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus {
  outline: none !important
}
.data-grid-with-row-pointer .MuiDataGrid-row {
  cursor: pointer;
}
.Mui-focused:after {
  display: none !important
}
.MuiPopover-root .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-height: 400px;
  margin: 0;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

[data-testid=flowbite-navbar-collapse]>ul>div {
  margin-right: 0 !important;
}